In [1]:
import pandas as pd
import numpy as np

# old

In [13]:
w67 = pd.read_csv('w67_1.csv')
w67.head()

   t   max  min  amp
0  1  2369  805  782
1  2  2448  714  867
2  3  2403  726  838
3  4  2541  632  954
4  5  2470  695  887

In [14]:
# ampの平均と分散を出す
amp_mean = w67['amp'].mean()
amp_var = w67['amp'].var()
amp_std = w67['amp'].std()
print('amp_mean:', amp_mean)
print('amp_var:', amp_var)
print('amp_std:', amp_std)

amp_mean: 1178.5373134328358
amp_var: 26793.279850746276
amp_std: 163.68652922811418

In [19]:
w45 = pd.read_csv('w45_1.csv')
amp_mean = w45['amp'].mean()
amp_var = w45['amp'].var()
amp_std = w45['amp'].std()
print('amp_mean:', amp_mean)
print('amp_var:', amp_var)
print('amp_std:', amp_std)

amp_mean: 980.615
amp_var: 25106.810829145732
amp_std: 158.451288505792

In [ ]:
w27 = pd.read_csv('w27_2.csv')
amp_mean = w27['amp'].mean()
amp_var = w27['amp'].var()
amp_std = w27['amp'].std()
print('amp_mean:', amp_mean)
print('amp_var:', amp_var)
print('amp_std:', amp_std)

amp_mean: 772.255
amp_var: 3881.1658040201
amp_std: 62.299003234563074

In [18]:
w67 = pd.read_csv("w67_2.csv")
amp_mean = w67['amp'].mean()
amp_var = w67['amp'].var()
amp_std = w67['amp'].std()
print('amp_mean:', amp_mean)
print('amp_var:', amp_var)
print('amp_std:', amp_std)

amp_mean: 1331.075
amp_var: 22889.235552763832
amp_std: 151.29188858879326

In [20]:
w45 = pd.read_csv("w45_2.csv")
amp_mean = w45['amp'].mean()
amp_var = w45['amp'].var()
amp_std = w45['amp'].std()
print('amp_mean:', amp_mean)
print('amp_var:', amp_var)
print('amp_std:', amp_std)

amp_mean: 1400.21
amp_var: 12256.779798994974
amp_std: 110.7103418791351

# new

In [2]:
df_result = pd.DataFrame(columns=["resistor", "W", "amp_mean", "amp_var", "amp_std"])
df_result

Empty DataFrame
Columns: [resistor, W, amp_mean, amp_var, amp_std]
Index: []

In [3]:
w67_2 = pd.read_csv("w67_2.csv")
amp_mean = w67_2['amp'].mean()
amp_var = w67_2['amp'].var()
amp_std = w67_2['amp'].std()
df_result.loc["w67_2"] = {"resistor": 1800, "W": 67, "amp_mean": amp_mean, "amp_var": amp_var, "amp_std": amp_std}
df_result

       resistor   W  amp_mean       amp_var     amp_std
w67_2      1800  67  1331.075  22889.235553  151.291889

In [4]:
w45_2 = pd.read_csv("w45_2.csv")
amp_mean = w45_2['amp'].mean()
amp_var = w45_2['amp'].var()
amp_std = w45_2['amp'].std()
df_result.loc["w45_2"] = {"resistor": 1800, "W": 45, "amp_mean": amp_mean, "amp_var": amp_var, "amp_std": amp_std}
df_result

       resistor   W  amp_mean       amp_var     amp_std
w67_2      1800  67  1331.075  22889.235553  151.291889
w45_2      1800  45  1400.210  12256.779799  110.710342

In [5]:
w27_2 = pd.read_csv("w27_2.csv")
amp_mean = w27_2['amp'].mean()
amp_var = w27_2['amp'].var()
amp_std = w27_2['amp'].std()
df_result.loc["w27_2"] = {"resistor": 1800, "W": 27, "amp_mean": amp_mean, "amp_var": amp_var, "amp_std": amp_std}
df_result

       resistor   W  amp_mean       amp_var     amp_std
w67_2      1800  67  1331.075  22889.235553  151.291889
w45_2      1800  45  1400.210  12256.779799  110.710342
w27_2      1800  27   772.255   3881.165804   62.299003

In [10]:
def update_result(name, resistor, W):
    df = pd.read_csv(f"{name}.csv")
    amp_mean = df['amp'].mean()
    amp_var = df['amp'].var()
    amp_std = df['amp'].std()
    df_result.loc[name] = {"resistor": resistor, "W": W, "amp_mean": amp_mean, "amp_var": amp_var, "amp_std": amp_std}
    display(df_result)

In [11]:
update_result("w45_3", 1800, 45)

       resistor   W  amp_mean       amp_var     amp_std
w67_2      1800  67  1331.075  22889.235553  151.291889
w45_2      1800  45  1400.210  12256.779799  110.710342
w27_2      1800  27   772.255   3881.165804   62.299003
w45_3      1800  45   486.080   5376.305126   73.323292